.container {
  width: 100%;
  background: #f4f4f4;
}

.box-log {
  width: 700px;
  margin: 0px auto;
  background: #ffff;
  padding: 40px 20px;
}

.box-log .avatar {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-log .avatar .avatar-img {
  display: block;
}

.box-log .avatar .title {
  padding-top: 20px;
  color: #92929d;
  font-size: 18px;
}

.form-log {
  padding: 0px 100px;
}

.form-log .log-facebook {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px #d2d2d2 solid;
  padding: 8px 20px;
  border-radius: 4px;
}

.form-log .log-facebook p {
  color: #d2d2d2;
}

.form-log .or {
  margin: 10px 0;
}
.form-log .or .or-p {
  color: #d2d2d2;
}

.fix-btn{
    width: 100%;
    text-transform: uppercase;
}
